
@import url('../node_modules/admin-lte/node_modules/bootstrap/dist/css/bootstrap.css');
@import url('../node_modules/admin-lte/dist/css/adminlte.css');
@import url('../node_modules/admin-lte/plugins/fontawesome-free/css/all.css');
@import url('../node_modules/admin-lte/plugins/datatables-bs4/css/dataTables.bootstrap4.css');
@import url('../node_modules/admin-lte/plugins/datatables-select/css/select.bootstrap4.css');
@import url('../node_modules/admin-lte/plugins/datatables-responsive/css/responsive.bootstrap4.css');
@import url('../node_modules/summernote/dist/summernote-bs4.css');

body {
    font-size: 14px;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.content-wrapper {
    padding-top: 15px;
}
.content-navimenu {
    margin-top: -10px;
    margin-bottom: 1em;
    height: 1rem;
}

.content a {
    color: #3c8dbc;
}
.content .btn-link {
    color: #3c8dbc;
}
button.page-btn {
    min-width: 8em;
    font-size: 14px;
}

.btn-conweb-default {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: inherit;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;

    color: rgb(51, 51, 51);
    background-color: #fff;
    border-color: #ccc;
    background-image: -webkit-linear-gradient(top, #fff 0%, #e0e0e0 100%);
    background-image: -o-linear-gradient(top, #fff 0%, #e0e0e0 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e0e0e0));
    background-image: linear-gradient(to bottom, #fff 0%, #e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #dbdbdb;
    border-color: #ccc;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
}
.btn-conweb-default:enabled:hover {
    border-color: #999;
}

.item-navigator {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    list-style: none;
}
.item-navigator>li {
    display: inline-block;
    margin-bottom: 14px;
}
.item-navigator>li:first-child::before {
    content: "≪";
    padding-right: 1em;
}
.item-navigator>li:first-child::after {
    content: "";
    padding-right: 1em;
}
.item-navigator>li+li::before {
    content: "｜";
    padding-right: 1em;
}
.item-navigator>li+li::after {
    content: "";
    padding-right: 1em;
}
.item-navigator>li:last-child::after {
    content: "≫";
    padding-left: 1em;
}
.form-item {
    width: 52em;
    padding-left: 1.5em;
}
.checkbox label, .radio label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400 !important;
    cursor: pointer;
}
.item-label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 16px;
}
.item-label::before{
    content: '\f0c8';
    font-family: 'Font Awesome 5 Free';
    padding-right: 0.5em;
}
.item-label.required::after{
    color: #ff0000;
    padding-left: 0.5em;
    content: '※';
}
.upload-file {
    background-color: #f5f5f5;
    border-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
}
.body-text {
    p, ul, ol {
        margin-top: 0px;
        margin-bottom: 10px;
    }
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 1px 5px;
}
.dataTable tbody tr:hover{
    background-color: #87ceed !important;
}
.dataTable.table-selectable tbody {
    cursor: pointer;
}
.dataTable td.link {
    color: #3c8dbc;

}
.dataTable th {
    white-space: nowrap;
}
.dataTable td.dt-status {
    text-align: center;
    max-width: 4em;
    width: 4em;
}
.dataTable th.dt-status {
    white-space: nowrap;
    font-size: 90%;
    vertical-align: middle;
}
table.dataTable tbody td.select-checkbox::before{
    margin-top: -10px;
}
table.dataTable tbody tr.selected td.select-checkbox::after{
    font-size: 16px
}
.dt-username {
    min-width: 6em;
}
.dt-text {
    min-width: 10em;
}

.status-label {
    display: inline-block;
    font-size: .8em;
    line-height: normal;
    width: 6em;
    margin-bottom: 0px;
    padding: .2em .6em .2em;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
    color: white !important;
}

.form-item input[type="date"] {
    max-width: 10em;
}